.profile__avatar-place {
  margin: 36.25px 0 47.25px 0;
  position: relative;
  height: 127.5px;
  left: -22.5px;
}
  
@media screen and (max-width: 680px) { 
  .profile__avatar-place {
    position: static;
    margin: 38.25px auto 22.25px auto;
  }
}