.profile__avatar-place {
  margin: 36.25px 0 47.25px 0;
  height: 127.5px;
  width: 144.375px;
}
  
@media screen and (max-width: 680px) { 
  .profile__avatar-place {
    margin: 38.25px auto 22.25px auto;
    width: 168.75px;
  }
}