.profile__name-container {
  margin: 0;
  display: flex;
  justify-content: space-between;
  max-width: 336px;
  align-items: start;
}
  
@media screen and (max-width: 680px) { 
  .profile__name-container {
    max-width: 680px;
  }
}