.profile__info {
  margin: 62px 0 76px 146.25px;
  padding: 0;
}

@media screen and (max-width: 680px) { 
  .profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}